<div class="shift-form-container">
  <h1>Edit shift</h1>
  <form class="edit-form" (ngSubmit)="editShift()">
    <div class="form-group">
      <label for="shiftName">shift Name:</label>
      <input
        [(ngModel)]="shiftName"
        type="text"
        id="shiftName"
        name="shiftName"
        required
      />
    </div>
    <div class="form-group">
      <label for="startTime">Start Time:</label>
      <input
        [(ngModel)]="startTime"
        type="time"
        id="startTime"
        name="startTime"
        required
      />
    </div>
    <div class="form-group">
      <label for="endTime">End Time:</label>
      <input
        [(ngModel)]="endTime"
        type="time"
        id="endTime"
        name="endTime"
        required
      />
    </div>
  
    <button type="submit" class="submit-btn">Save</button>
  </form>
</div>
