<h2 style="color: orangered">Add Configuration</h2>
<hr />
<div class="student-form-container">
  <form (ngSubmit)="createConfig()">
    <div class="form-group">
      <label for="ConfigName">Configuration Name</label>
      <input
        type="text"
        id="ConfigName"
        [(ngModel)]="ConfigName"
        name="ConfigName"
        required
      />
    </div>

    <div class="form-group">
      <label for="ConfigValue">Configuration Value</label>
      <input
        type="text"
        id="ConfigValue"
        [(ngModel)]="ConfigValue"
        name="ConfigValue"
        required
      />
    </div>

    <div class="form-group">
      <label for="campus">Campus</label>
      <select id="campus" [(ngModel)]="Campuses" name="Campuses" required>
        <option value="">Select Campus</option>
        <option *ngFor="let campus of Campuses" [value]="campus.campusId">
          {{ campus.name }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="Shifts">Shift</label>
      <select id="Shifts" [(ngModel)]="Shifts" name="Shifts" required>
        <option value="">Select Shift</option>
        <option *ngFor="let shift of Shifts" [value]="shift.shiftId">
          {{ shift.shiftName }}
        </option>
      </select>
    </div>
    <button type="submit">Submit</button>
  </form>
</div>
