.config-list-container {
    max-width: 100%;
    overflow-x: auto;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .config-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .config-table th, .config-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  .config-table th {
    background-color: orangered;
    color: white;
  }
  
  button {
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
    text-align: right;
    border: none;
    background-color: rgb(124, 38, 7);
    color: white;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: darkorange;
  }
  
  @media (max-width: 768px) {
    .config-table, .config-table th, .config-table td {
      font-size: 14px;
    }
  
    /* Stacking buttons on smaller screens */
    .config-table td button {
      display: block;
      margin: 5px 0;
      width: 100%;
    }
  
    /* Ensuring the table takes full width */
    .config-list-container {
      padding: 10px;
    }
  }
  
  @media (max-width: 480px) {
    .config-table th, .config-table td {
      font-size: 12px;
    }
  
    .config-table th {
      padding: 8px;
    }
  
    .config-table td {
      padding: 8px;
    }
  }