<h2 style="color: orangered; text-align: center">Configuration List</h2>
<hr />
<div class="config-list-container">
  <div class="d-flex justify-content-end">
    <button type="button" routerLink="/Create/Configuration">
      Add Configuration
    </button>
  </div>

  <table class="config-table">
    <thead>
      <tr>
        <th>Configuration ID</th>
        <th>Configuration Name</th>
        <th>Configuration Value</th>
        <th>Campus</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let config of ViewConfig">
        <td>{{ config.routineConfigurationId }}</td>
        <td>{{ config.configName }}</td>
        <td>{{ config.configValue }}</td>
        <td>{{ config.campusId }}</td>
        <td>
          <button (click)="editConfig(config)">Edit</button>
          <button (click)="deleteConfig(config.routineConfigurationId)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
