<div style="display: flex;align-items: center; justify-content: center; height: 60vh;padding: 20px;">
   
    <div class="slides">
        <div class="slide" [ngStyle]="{'background-image':'url('+slides[currentSlide].url+')', opacity : hidden? 0 : 1}">
            <div id="indicators">@for (slide of slides; track $index) {
                <div
                 (click)="jumpToSlide($index)"
                 class="indicator"[ngClass]="{active:$index==currentSlide}"></div>
            }  
            
            </div>
            <button (click)="next()" class="nextButton">Next</button>
            <button (click)="prev()" class="prevButton">Previeus</button>  
        </div>
        
    
    </div>
</div>
  
