<div class="wrapper container">
    <form [formGroup]="buildingRoomForm" (ngSubmit)="editBuildingRoom()">
      <div class="row">
        <div class="col-6">
          <h2 class="display-5">Update BuildingRoom Data</h2>
          <div class="row mb-2">
            <label class="col-form-label col-4" for="roomNumber"
              >Room Number</label
            >
            <div class="col-8">
              <input
                type="number"
                formControlName="roomNumber"
                class="form-control form-control-sm"
              />
            </div>
          </div>

          <div class="row mb-2">
            <label class="col-form-label col-4" for="buildingId">Building</label>
            <div class="col-8">
              <select
                formControlName="buildingId"
                class="form-select form-select-sm"
              >
                <option value="" disabled selected>--Select Building--</option>
                <option *ngFor="let p of building" value="{{ p.buildingId }}">
                  {{ p.buildingName }}
                </option>
              </select>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-8 offset-4">
              <button type="submit" class="btn btn-primary">Update</button>
            </div>
          </div>
        </div>
     
          </div>

    </form>
  </div>
  