* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clear{
  clear: both;
}

.menu-bar {
  text-align: center;
  text-align: left;
  width: 100%;
  border-radius: 3px;
}
.childPic{
  width: 100%;
  height: 50%;
  display: contents;
}

.menu-bar ul {
  display: inline-flex;
  list-style: none;
  background-color: rgb(17, 105, 9);
}

.menu-bar ul li {
  width: 120px;
  margin: 15px;
  padding: 15px;
}

.menu-bar ul li a {
  text-decoration: none;
  color: aliceblue;
}

.active,
.menu-bar ul li a:hover {
  background-color: rgb(98, 168, 32);
  border-radius: 3px;
  padding: 5px;
}

.sub-manu-1 {
  display: none;
}

.menu-bar ul li:hover .sub-manu-1 {
  display: block;
  position: absolute;
  background-color: rgb(17, 105, 9);
  margin-top: 15px;
  margin-left: -15px;
}

.menu-bar ul li:hover .sub-manu-1 ul {
  display: block;
  margin: 10px;
}

.menu-bar ul li:hover .sub-manu-1 ul li {
  width: 150px;
  padding: 10px;
  border-bottom: 1px dotted #fff;
  background-color: transparent;
  border-radius: 0;
  text-align: left;
}

.menu-bar ul li:hover .sub-manu-1 ul li:last-child {
  border-bottom: none;
}

.menu-bar ul li:hover .sub-manu-1 ul li a:hover {
  color: #164201;
}

.fa-angle-right {
  float: right;
}

.sub-manu-2 {
  display: none;
}

.hover-me:hover .sub-manu-2 {
  position: absolute;
  display: block;
  margin-top: -40px;
  margin-left: 140px;
  background-color: rgb(17, 105, 9);
}

h5:hover {
  color: chartreuse;
}


.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: rgb(17, 105, 9);
}


.content-body{
   float: left;
   width: 38%;
   margin: 20px;
   justify-content:space-around;

}

.photo{
  margin-top: 20px;
 margin-bottom: 20px;
 margin-left: 80px;
}

.box{

  border: 1px solid black;
  border-radius: 7px;
  text-align: justify;
  margin: 20px;
  margin-left: 30px;
  justify-content: space-between;
  padding: 20px;
}

.box p{
  margin-top: 10px;
}

.box h1{
  text-align: center;
}

strong{
font-size: 40px;
font-weight: normal;
}


@media (max-width: 768px) {
  .menu-bar ul {
    flex-direction: column;
    width: 30%;
    display: none; 
  }

  .menu-bar ul.show {
    display: flex;
  }

  .menu-bar .menu-button {
    display: block;
    background-color: transparent;
    border: none;
    color: rgb(247, 244, 244);
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
  }
}

@media (min-width: 769px) {
  .menu-bar .menu-button {
    display: none;
  }
}





