<div class="wrapper container">
    <form [formGroup]="campusForm" (ngSubmit)="updateCampus()">
      <div class="row">
        <div class="col-6">
          <h3 style="color: blue; text-align: center; margin-bottom: 40px">
            Update Campus Details
          </h3>
          <div class="row mb-2">
            <label class="col-form-label col-4" for="name"
              > Name</label
            >
            <div class="col-8">
              <input
                type="text"
                formControlName="name"
                class="form-control form-control-sm"
              />
            </div>
          </div>
          
          <div class="row mb-2">
            <label class="col-form-label col-4" for="curriculumId">Curriculum</label>
            <div class="col-8">
              <select
                formControlName="curriculumId"
                class="form-select form-select-sm"
              >
                <option value="" disabled selected>--Select Curriculum--</option>
                <option *ngFor="let p of curriculum" value="{{ p.curriculumId }}">
                  {{ p.curriculumName }}
                </option>
              </select>
            </div>
          </div>

          <div class="row mb-2">
            <label class="col-form-label col-4" for="schoolId">School</label>
            <div class="col-8">
              <select
                formControlName="schoolId"
                class="form-select form-select-sm"
              >
                <option value="" disabled selected>--Select School--</option>
                <option *ngFor="let p of school" value="{{ p.schoolId }}">
                  {{ p.schoolName }}
                </option>
              </select>
            </div>
          </div>

          <div class="row mb-2">
            <label class="col-form-label col-4" for="shiftId">Shift</label>
            <div class="col-8">
              <select
                formControlName="shiftId"
                class="form-select form-select-sm"
              >
                <option value="" disabled selected>--Select Shift--</option>
                <option *ngFor="let p of shift" value="{{ p.shiftId }}">
                  {{ p.shiftName }}
                </option>
              </select>
            </div>
          </div>

          <div class="row mb-2">
            <label class="col-form-label col-4" for="genderId">Gender</label>
            <div class="col-8">
              <select
                formControlName="genderId"
                class="form-select form-select-sm"
              >
                <option value="" disabled selected>--Select Gender--</option>
                <option *ngFor="let p of gender" value="{{ p.genderId }}">
                  {{ p.genderName }}
                </option>
              </select>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-8 offset-4">
              <button type="submit" class="btn btn-primary">Update</button>
            </div>
          </div>
        </div>
        <div class="col-6">
          <h3 style="color: blue; margin-left: 80px">Select Class</h3>
          <div class="d-flex justify-content-end">
            <button
              type="button"
              (click)="addClass()"
              class="btn btn-outline-primary btn-sm"
            >
              +
            </button>
          </div>
          <ng-container formArrayName="classsList">
            <ng-container *ngFor="let p of classListArray.controls; let i = index">
              <div [formGroupName]="i">
                <div class="row mb-2">
                  <div class="col-10">
                    <select
                      formControlName="classId"
                      class="form-select form-select-sm"
                    >
                      <option disabled value="null" selected>
                        ----Select----
                      </option>
                      <option
                        *ngFor="let item of ClassList"
                        value="{{ item.classId }}"
                      >
                        {{ item.className }}
                      </option>
                    </select>
                  </div>
                  <div class="col-2">
                    <button
                      (click)="removeClassList(i)"
                      class="btn btn-outline-danger btn-sm"
                    >
                      X
                    </button>
                  </div>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </form>
  </div>
  

