<div class="shift-list">
  <h1> Shift Info</h1>
  <ul class="list">
    <li class="list-item" *ngFor="let item of shiftList">
      <div class="shift-info">
        <!-- <p>{{ item?.image}}</p> -->
       
        <p><b>ShiftName : </b>{{ item?.shiftName}} </p> <br>
        <p><b>StartTime : </b>{{ item?.startTime }}</p><br>
        <p><b>EndTime : </b>{{ item?.endTime }}</p>
       
        <button
          class="btn btn-primary"
          style="margin-right: 5px"
          (click)="deleteShift(item.shiftId)">
          Delete
        </button>

        <button class="btn btn-primary" (click)="editShift(item.shiftId)">
          Edit
        </button>
      </div>
    </li>
  </ul>
  
</div>
