<div class="wrapper container">
  <form [formGroup]="shiftForm" (ngSubmit)="insertShift()">
    <div class="row">
      <div class="col-6">
        <h3 style="color: blue; text-align: center; margin-bottom: 40px">
          Add Shift Details
        </h3>
        <div class="row mb-2">
          <label class="col-form-label col-4" for="shiftName"
            >Shift Name</label
          >
          <div class="col-8">
            <input
              type="text"
              formControlName="shiftName"
              class="form-control form-control-sm"
            />
          </div>
        </div>

        <div class="row mb-2">
          <label class="col-form-label col-4" for="startTime"
            >Start Time</label
          >
          <div class="col-8">
            <input
              type="time"
              formControlName="startTime"
              class="form-control form-control-sm"
            />
          </div>
        </div>

        <div class="row mb-2">
          <label class="col-form-label col-4" for="endTime"
            >End Time</label
          >
          <div class="col-8">
            <input
              type="time"
              formControlName="endTime"
              class="form-control form-control-sm"
            />
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-8 offset-4">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
